@charset "UTF-8";
/* CSS Document */

#myDiv 
{
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	border: 1px solid #D3D3D3;
	text-align: center;

}

#myDivHeader
{
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #2196F3;
	color: #fff;
}